{% extends 'base_admin.html.twig' %}

{% block body %}
<h2>Ajouter un événement</h2>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

    {{ form_row(form.titre) }}
    {{ form_row(form.description) }}
    {{ form_row(form.dateEvent) }}
    {{ form_row(form.lieu) }}
    {{ form_row(form.type) }}
    {{ form_row(form.statut) }}

    <!-- 🔥 IMAGE -->
    {{ form_row(form.imageFile) }}

    <button class="btn btn-success">Ajouter</button>

{{ form_end(form) }}

{% endblock %}